@model OroUostas.ViewModels.SkrydisEditViewModel

@{
    ViewBag.Title = "Istrinti skrydi";
}

<h2>Skrydzio Salinimas</h2>

<h3>Ar tikrai norite pašalinti Skrydi?</h3>
<div>
    <h4>Skrydzio salinimas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fk_lektuvas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_lektuvas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fk_kryptis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_kryptis)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.naudojama != null)
            {
                <h5>ViewBag.naudojama</h5>
            }
            else
            {
                <input type="submit" value="Šalinti" class="btn btn-danger" />
            }
            @Html.ActionLink("Atgal į sąrašą", "Index", "Skrydis", new { @class = "btn btn-default" })
        </div>
    }
</div>
